tools/serviceAccountKey.json
tools/backup.myministry
tools/*.ziv.json
tools/convert_myministry.js
tools/import_myministry_predicacion.py
.agents/
.claude/
skills-lock.json
tools/merge_publicadores_duplicados.py
tools/Copia de Reunión Vida y Ministerio Cristiano.xlsx
tools/congregacionsur.kml
ui-utils-old.js
tools/NWS Desktop Personas (157).csv
.aidesigner/*
!.aidesigner/.gitkeep
node_modules/
